/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --main-font: 'Lato', sans-serif; 
}
/* Header */



.conteiner {

    width: 100%;
    height: 100vh;
    background-image: url(../images/Mask\ group.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative
    
}

.nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.logo {
    width: 200px;
    cursor: pointer;
}
.icon {
    width: 30px;
    cursor: pointer;
    margin-left: 20px;

}
.ul-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    
}
.li {
    margin-right: 50px;
    font-size: 26px;
    cursor: pointer;
}

.search {
    padding-right: 20px;
}
.header-text {
    margin-top: 200px;
    font-size: 36px;
    color: white;
    text-align: center;

}
.header-text .p {
    top: 50%;
}
.dream {
    padding-top: 20px;
}
.buttom-shop {
    background-color: #806035;
    color: white;
    width: 200px;
    font-size: 26px;
    text-align: center;
    height: 56px;
    border-radius: 50px;
    margin: 50px auto;
    padding-top: 15px;
    cursor: pointer;
    
}

.scroll {
    margin: 450px auto;
    width: 150px;
}
 
.burger-bar {
    position: absolute;
    top: 5%;
    right: 5%;
    display: none;
}
.navActive {
    max-width: 300px;
    width: auto;
    margin: 0 auto;
}
@media (max-width: 1270px){
    .search {
        display: none;
    }
    .about-p {
        font-size: 10px;

    }
    .div-about {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .div1 {
        display: none;
    }
}

@media (max-width 1080px) {
    .sec3-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .conteiner4 {
        width:300px ;
    }
}

@media (max-width: 650px) {
    .about-text {
        font-size: 20px;
    }
    .about-p {
        font-size: 12px;
    }
    .about-text-div {
        width: 300px;
    }

    .buttom-more {
        display: none;
    }
}

@media (max-width: 500px) {
    /* .header4-text {
        left: 10%;
    } */
    .text1 {
        font-size: 36px;
    }
}

@media (max-width: 700px) {
    .buttom-view  {
        display: none;
       
    }

    

    .sec-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .div-feature {
        margin: 30px 30px;
    }

}

@media (max-width: 950px) {
    .ul-tag {
        display: none;
    }
    .burger-bar {
        display: block;
        color: var(--main-text-color);
        font-size: 32px;
        margin:10px;
        text-shadow: 0px 0px 3px var(--main-text-color);
    }
    .nav-bar.navActive {
        display: block;
    }
    .nav-bar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .ul-tag {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
}
    .sec3-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .shop2 {
        margin: 30px 30px;
    }

    

    .buttom-view {
        margin-top: 600px;

    }
    .group1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    
    }
    .group2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
    
    }

    

}

@media (max-width: 1400px){
    .div5 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .group2 {
        margin-top: 30px;
    }

}

@media (max-width: 360px) {
    .group1 {
        width: 100px;
        
    }
    .foto1 {
        width: 200px;
        margin-top: 30px;
    }

    .mail {
        font-size: 8px;
    }

   
    
}



/* Section 1 */


.section1 {
    width: 80%;
    margin: 150px auto;
}
.ul-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #806035;
    margin: 0 auto;
    width: 60%;
    
    
}


.div1 {
    margin-bottom: 120px;
}
.div-about {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.about-text-div {
    max-width: 500px;
    width: 100%;
    font-size: 26px;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-right: 20px;
    background-color: #E6DFD7;
    text-align: center;
    border-radius: 30px;

}
.about-image {
    max-width: 500px;
    width: 100%;


}

.about-p {
    max-width: 350px;
    /* width: 300px; */
    text-align: justify;
    margin-left: 50px;
    margin-top: 30px;
    font: bold 16px var(--main-font);
  
    

}
.buttom-more {
    background-color: #B39F85;
    color: white;
    max-width: 100px;
    font-size: 16px;
    text-align: center;
    height: 36px;
    border-radius: 50px;
    padding-top: 10px;
    margin-left: 260px;
}


/* Section 2 */

.section2 {
    width: 100%;
    margin: 0 auto;
}
.sec-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    
    
}

.feature-text {
    font-size: 46px;
    text-align: center;
    margin-bottom: 100px;
}
.div-feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #F2ECE4;
    height: 250px;
    max-width: 400px;
    /* width: 100%; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 30px;
    margin-left: 20px;

}
.car-text {
    width: 150px;
}
.car {
    width: 100px;
}
.warranty {
    padding-bottom: 8px;
    
}


/* Section 3 Shop */

.section3 {
    width: 80%;
    /* height:850px; */
    margin: 150px auto;
    /* background-color: #B39F85; */
    background-color: #F2ECE4;
    
}
.new-arrival {
    font-size: 46px;
    padding-top: 100px;
    padding-left: 120px;

}

.title2 {
    font: bold 20px var(--main-font);
    margin-top: 26px;
    padding-left: 120px;
    padding-bottom: 60px;
}

.sofa {
    width: 200px;
}
.sofa-main {
    width: 200px;
}
.details {
    width: 200px;
    padding-bottom: 30px;
    font: bold 14px var(--main-font);
}
.shop1:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    
}
.shop2:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    
}
.shop3:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    
}


.sec3-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;

}


.sec3-div .shop1 {
    /* margin-right: 20px; */

}
.white-chair {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.price {
    font-size: 22px;
    font-style: bold;
}



.buttom-buy {
    background-color: #806035;
    color: white;
    width: 100px;
    font-size: 16px;
    text-align: center;
    height: 46px;
    border-radius: 50px;
    margin: 0 auto;
    padding-top: 15px;
    margin-right: 30px;
}

.scroll2 {
    width: 120px;
    margin: 32px auto;
}

/* section 4 */

.section4 {
    /* width: 100%;
    background-size: cover; */
    /* background-position: center; */
    position: relative
}

.conteiner4 {
    max-width: 100%;
    /* width: 100%; */
    height: 80vh;
    background-image: url(../images/blog2.jpg);
    background-size: cover;
    background-position: center;
    /* padding: 0 8%; */
    position: relative;
    margin-bottom: 150px;
    margin: 200px auto;
}

.buttom-view {

    background-color: #806035;
    width: 280px;
    height: 70px;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    /* padding-top: 10px; */
    
}

.buttom-view {
    text-align: center;
    padding-top: 15px;
    font-size: 26px;
    color: white;
    top: 55%;
    left: 57%;
    position: absolute;
    cursor: pointer;
}

.header4-text {
    top: 30%;
    left: 50%;
    font-size: 56px;
    color: white;
    position: absolute;
    
}







.header4-text h2 {
    margin-top: 50px;
    font-size: 26px;
    color: white;
    text-align: center;
}

/* cant add text to blog foto  */


/* section 5 */



.section5 {
    /* max-width: 1000px; */
}
.div5 {
    /* max-width: 800px; */
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}
 .foto1 {
    max-width: 300px;
    /* width: 100%; */
 }

.group1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* margin: 0 auto; */
   


}






.group1-text h3 {
    margin-top: 40px;
    font-size: 32px;
    margin-bottom: 50px;
}
.group1-text {
    text-align: justify;
    width: 250px;
    /* margin-left: 40px; */
    font: bold 16px var(--main-font);
    background-color: #E6DFD7;
    border-radius: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.group2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    
}
footer {
    background-color: #B39F85;
}


/* section contact */

.contact-container {
    background-image: url(../pics/);
    background-image: var(--main-transparent-color);  
}
.contact-flex {
    max-width: 1600px;
    width: 95%;
    margin: 100px auto 0;
}
.checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.contact-form {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}
.form{
    height: auto;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}
.form-block {
    width: 50%;
    padding: 2%;
}

.review-title {
    font: bold 16px var(--main-font);
    color: var(--main-bg-color);
    text-align: center;
    padding-top: 20px;

}
.checkbox-item, .radioItem {
    font: bold 12px var(--main-font);
    color: var(--main-bg-color);
}
textarea, .input {
    width: 100%;
    background-color: var(--main-bg-color);
    outline: none;
    font: 300 15px var(--main-font);
    color: #fff;
    border-radius: 7px;
    opacity: 0.7;
    margin-top: 20px;
}
textarea {
    height: 200px;
    resize: none;
}
.input {
    height: 80px;
}
.textarea:focus,.input:focus {
    opacity: 1;
}
.btn-submit{
    max-width: 250px;
    width: 60%;
    height: 50px;
    margin-bottom: 20px;
    font: bold 15px var(--main-font);
    background-color: #806035;
    border-radius: 7px; 
    opacity: 0.7;
}
.btn-submit:hover {
    font: bold 18px var(--main-font);
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px var(--main-bg-color);
            box-shadow: 0px 0px 7px var(--main-bg-color);
    background-image: var(--main-transparent-color);

}


/* /// footer */
footer {
    background-color: #B39F85;
    background-size: 100%;

}
.footer-container{
    width: 1600px;
    max-width: 90%;
    margin: 0 auto;
    padding: 5%;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    
        -ms-flex-wrap: wrap;
    
            flex-wrap: wrap;
    
            -webkit-box-pack: justify;
    
                -ms-flex-pack: justify;
    
                    justify-content: space-between;  
}

.footer-box{
    width: 20%; 
   
    display: -webkit-box; 
   
    display: -ms-flexbox; 
   
    display: flex;
    
            -webkit-box-orient: vertical;
    
            -webkit-box-direction: normal;
    
                -ms-flex-direction: column;
    
                    flex-direction: column;
   
            -webkit-box-align: center;
   
                -ms-flex-align: center;
   
                    align-items: center;
    gap:10px;
}

.footer-box h3 {
    font: 300 22px var(--main-font);
    color: black;
}

.footer-nav-items{
    font: 300 18px var(--main-font);
    color:black;
}
.contact-info  {
    font: 300 12px var(--main-font);
    color: black;
}
.icons {
    color: black; opacity: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
   

}
.icon-items{
    color: black;
    font-size: 24px;
}
.icon-items:hover {
   
            -webkit-transform: scale(1.2);
   
                -ms-transform: scale(1.2);
   
                    transform: scale(1.2);
    cursor: pointer;
}
.footer-bottom span::before {
    content: '\00A9';
}
.footer-bottom {
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    padding-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font: 300 12px var(--main-font);
    opacity: 0.5;
}