/* Header */


.conteiner {

    width: 100%;
    height: 100vh;
    background-image: url(../images/Mask\ group.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative
    
}

.nav-bar {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 5px 0; */
    justify-content: space-between;
}

.logo {
    width: 200px;
    cursor: poier;
}
.icon {
    width: 30px;
    cursor: pointer;
    margin-left: 20px;

}
.ul-tag {
    display: flex;
    color: white;
    
}
.li {
    margin-right: 20px;
}

.search {
    padding-right: 20px;
}
.header-text {
    margin-top: 200px;
    font-size: 36px;
    color: white;
    text-align: center;
}
.dream {
    padding-top: 20px;
}
.buttom-shop {
    background-color: #806035;
    color: white;
    width: 200px;
    font-size: 26px;
    text-align: center;
    height: 56px;
    border-radius: 50px;
    margin: 20px auto;
    padding-top: 15px;
    
}

.scroll {
    margin: 120px auto;
    width: 120px;
}
 

/* Section 1 */


.section1 {
    width: 80%;
    margin: 150px auto;
}
.ul-menu {
    display: flex;
    justify-content: space-between;
    color: #806035;
    
    
}
.nav-menu {
    margin: 0 auto;
    width: 60%;
    justify-content: space-between;
}
.div-about {
    max-width: 800px;
    width: 80%;
    display: flex;
    margin-top: 120px;
    margin-left: 120px;
    /* align-items: center; */

}
.about-text {
    width: 450px;
    font-size: 26px;
    padding-bottom: 15px;
    padding-top: 20px;
    background-color: #E6DFD7;
    text-align: center;
    border-radius: 30px;

}
.about-image {
    width: 500px;

}
.about-p {
    font-size: 16px;
    width: 350px;
    text-align: justify;
    padding-left: 50px;
    padding-top: 30px;
    

}
.buttom-more {
    background-color: #B39F85;
    color: white;
    width: 100px;
    font-size: 16px;
    text-align: center;
    height: 36px;
    border-radius: 50px;
    padding-top: 10px;
    margin-left: 260px;
}


/* Section 2 */

.section2 {
    width: 100%;
    margin: 150px auto;
}
.sec-div {
    display: flex;
    max-width: 1200px;
    width: 80%;
    margin-left: 120px;
    
    
    
}

.feature-text {
    font-size: 46px;
    text-align: center;
    margin-bottom: 100px;
}
.div-feature {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2ECE4;
    height: 250px;
    width: 700px;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;

}
.car-text {
    width: 150px;
}
.car {
    width: 100px;
}
.warranty {
    padding-bottom: 8px;
    
}


/* Section 3 Shop */

.section3 {
    width: 80%;
    height:850px;
    margin: 150px auto;
    /* background-color: #B39F85; */
    background-color: #F2ECE4;
    
}
.new-arrival {
    font-size: 46px;
    padding-top: 100px;
    padding-left: 120px;

}

.title2 {
    font-size: 20px;
    margin-top: 26px;
    padding-left: 120px;
    padding-bottom: 60px;
}

.sofa {
    width: 200px;
}
.sofa-main {
    width: 280px;
}
.details {
    width: 200px;
    padding-bottom: 30px;
    font-size: 16px;
}


.sec3-div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 80%;

}


.sec3-div .shop1 {
    /* margin-right: 20px; */

}
.white-chair {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.price {
    font-size: 22px;
    font-style: bold;
}


/* hover effect middle / Ill add later */

.buttom-buy {
    background-color: #806035;
    color: white;
    width: 100px;
    font-size: 16px;
    text-align: center;
    height: 46px;
    border-radius: 50px;
    margin: 0 auto;
    padding-top: 15px;
    margin-right: 30px;
}

.scroll2 {
    width: 80px;
    margin: 32px auto;
}

/* section 4 */

/* .section4 {
    width: 100%;
    background-image: url(../images/blog2.jpg);
    background-size: cover;
    background-position: center;
    position: relative
} */

.conteiner4 {
    width: 100%;
    background-image: url(../images/blog2.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    
    
}

.buttom-view {

    background-color: #806035;
    width: 180px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    padding-top: 10px;
}

.header4-text {
    margin-top: 200px;
    width: 400px;
    justify-content: space-between;
}

.header4-text h1 {
    margin: 50px auto;

    font-size: 36px;
    color: white;
    text-align: center;
    width: 200px;
    
}
/* 
.header4-text h2 {
    margin-top: 50px;
    font-size: 26px;
    color: white;
    text-align: center;
} */

/* cant add text to blog foto  */


/* section 5 */

.div5 {
    margin-left: 150px;
    


}

.group1 {
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;

}

.group1-text {
    width: 500px;
    background-color: #E6DFD7;
    border-radius: 30px;
    text-align: center;
}

.group1-text h3 {
    margin-top: 40px;
    font-size: 32px;
    margin-bottom: 50px;
}
.group1-text p {
    text-align: justify;
    width: 400px;
    margin-left: 40px;
}

.group2 {
    display: flex;
}